{% extends 'base.html.twig' %}

{% block title %}Inici - OCI APP{% endblock %}



{% block body %}
    <div class="alert alert-warning mt-4 mb-1 ml-5 mr-5" role="alert">
        ERROR! L'API ha respós amb un missatge d'error! <br>
    </div>

    <div class="container justify-content-center mt-2">

    </div>


{% endblock %}
